.footer {
    height: 201px;
    background-color: #25333c;
    padding: 24px 0 36px 0;
    &__wrapper {
        display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    &__logo {
        width: 72px;
        height: 75px;
        background:url('../img/logo.png') center (center / cover) no-repeat;
    }
    &__descr {
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        width: 689px;    
    }
    .contacts {
        margin-top: 0;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: grey;
        margin: 26px 0 30px 0;
    }
    a {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.31;
        text-align: center;
        color: $main_color;
    }
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}